._*
./*/._*
Archive
Archive/
Archive/*
Codebook/*.lo*
Codebook/*.synctex.gz
Codebook/*.toc
Codebook/*.aux
Codebook/.Rhistory
Codebook/.RData
Documentation/*.aux
Documentation/*.bbl
Documentation/*.brf
Documentation/*.lo*
Documentation/*.synctex.gz
Documentation/*.toc
Documentation/.Rhistory
Documentation/Documentation.Rproj
Documentation/.RData
Documentation/change_paths.sh
Documentation/flow_charts/*
./HU_Server_Zugang.pdf
*.Rproj.user
beta_version/work_in_progress.rtf
beta_version/tables/minister.csv
.Rproj.user
